<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>monitor job</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <hudson.plugins.sitemonitor.SiteMonitorRecorder plugin="sitemonitor@0.6">
      <mSites>
        <hudson.plugins.sitemonitor.model.Site>
          <mUrl>http://172.17.0.2:8080/MyWebsite.jsp</mUrl>
          <successResponseCodes/>
          <admitInsecureSslCerts>false</admitInsecureSslCerts>
        </hudson.plugins.sitemonitor.model.Site>
      </mSites>
    </hudson.plugins.sitemonitor.SiteMonitorRecorder>
  </publishers>
  <buildWrappers/>
</project>